/* Hier hoef je niks mee te doen */
* {
    font-size: 0;
}

#container {
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* Hieronder kun je gaan editen */

#bovenkant {
    height: 40%;
    background-color: skyblue;
}

#midden {
    height: 20%;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    background-color: black;
}

#onderkant {
    height: 40%;
    background-color: skyblue;
}
