/* Hier hoef je niks mee te doen */
* {
    font-size: 0;
}

#container {
    width: 800px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
    display: flex;


}

/* Hieronder kun je gaan editen */

#bovenkant {
    width: calc(100%/3);
    background-color: blue;
}

#midden {
    width: calc(100%/3);
    background-color: white;
}

#onderkant {
    width: calc(100%/3);
    background-color: red;
}
